.capture-form {
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: linear-gradient(top, rgba(0,0,0,0.80), rgba(0,0,0,0.80));

    .h1,
    .h4 {
        color: $white;
        margin-bottom: 50px;
    }

    .form-group {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .form-control {
        height: calc(2.5em + .75rem + 2px)
    }

    .btn {
        margin-bottom: 30px;
    }

    a {
        text-decoration: underline;
        color: $white;
    }
}