.examples {
    background-color: #f0f0f0;
    padding-top: 90px;
    padding-bottom: 90px;

    .h1 {
        padding-bottom: 90px;
    }

    .owl-stage-outer {
        width: auto;
        max-width: 309px;
        margin-right: auto;
        margin-left: auto;
    }

}