.examples {
    background-color: #f0f0f0;
    padding-top: 90px;
    padding-bottom: 90px;

    .h1 {
        padding-bottom: 90px;
    }
    
    .slick-slide img {
        margin-left: 20px;
        margin-right: 20px;
    }
    .slick-prev:before, 
    .slick-next:before {
        color: #000;
    }


    .slick-dots li button:before {
        font-size: 30px;
        
    }

}