.feedback {
    background-color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;

    .h1 {
        margin-bottom: 90px;
    }

    .p {
        font-size: 20px;
        font-weight: 600;
    }
}