.navbar {

    &-brand {
        margin-left: 2rem;
    }
    
    &.bg-trans {
        background-color: rgba(240, 240, 240, 0.603)
    }

    .navbar-nav .nav-link {
        color: #000000;
        font-size: 18px;
        font-weight: 700;
        padding-right: 1.2rem;
        padding-left: 1.2rem;
        transition: color 200ms linear;

        &:hover {
            color: red;
            text-decoration: underline;
        }
    }

    .nav-contacts {
        margin-right: 2rem;
        a {
            color: $white;
            background-color: transparent;
        }
    }

    @media (max-width: 992px) {
        &.bg-trans {
            background-color: rgba(240, 240, 240, 0.603);
        }

        .navbar-nav .nav-link {
            margin-top: 10px;
            margin-bottom: 10px;
        }
      }

    @media (max-width: 540px) {
        &-brand {
            margin-left: 0;
        }
      }
}