.results {
    background-color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;

    .h1 {
        margin-bottom: 90px;
    }

    .divider {
        height: 1px;
        margin-top: 8px;
        margin-bottom: 8px;
        &-left {
            background-image: linear-gradient(right, #000000, rgba(0,0,0,0));
        }
        &-center {
            background: #000000;
        }
        &-right {
            background-image: linear-gradient(left, #000000, rgba(0,0,0,0));
        }
    }

    .h2 {
        margin-top: 30px;
        margin-bottom: 90px;
    }

    .owl-theme .owl-dots .owl-dot.active span, 
    .owl-theme .owl-dots .owl-dot:hover span {
        background: red;
    }
}