.why {
    background-color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;

    .h1 {
        margin-bottom: 90px;
    }

    .media {
        margin-bottom: 65px;

        img {
            width: 65px;
            height: 65px;
            max-width: 100%;
        }

        &-body {
            padding-left: 30px;
        }
    }
}