$white: #fff;
$red: rgb(255, 13, 13);

.main-wrapper {
    background-image: url('../img/photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.h1 {
    font-weight: 700;
    font-size: 62px;
}

@media (max-width: 540px) {
    .h1 {
        font-size: 28px;
    }
  }


.red {
    color: $red;
}

.btn {
    color: $white;
    background-color: $red;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
}



@import "_header";
@import "_nav";
@import "_offer";
@import "_numbers";
@import "_why";
@import "_test-drive";
@import "results";
@import "_examples";
@import "_feedback";
@import "_price";
@import "_capture-form";
@import "_contacts";